<div class="mb-md">
  <nz-checkbox-group
    [(ngModel)]="customColumns"
    (ngModelChange)="st.resetColumns()"
  ></nz-checkbox-group>
</div>

<st #st [data]="users" [columns]="columns" [bordered]="true">
  <ng-template st-row="customTitle01" type="title" let-item>
    {{ item.title }}
    <nz-dropdown
      nzTrigger="click"
      [nzClickHide]="false"
      nzPlacement="bottomRight"
      class="position-relative"
    >
      <div nz-dropdown class="d-inline-block pl-lg">
        <i nz-icon nzType="caret-down" nzTheme="outline"></i>
      </div>
      <div class="ant-table-filter-dropdown p-sm">
        <input
          type="text"
          nz-input
          [(ngModel)]="searchValue"
          class="width-sm mr-sm"
        />
        <button nz-button [nzType]="'primary'" (click)="st.load(2)">
          SEARCH
        </button>
      </div>
    </nz-dropdown>
  </ng-template>

  <ng-template st-row="custom" let-item let-index="index">
    <nz-tooltip [nzTitle]="'年龄：' + item.age" nzPlacement="topRight">
      <span nz-tooltip>tooltip: {{ item.age }}-{{ index }}</span>
    </nz-tooltip>
  </ng-template>
</st>
