<span
  nz-dropdown
  nzPlacement="bottomRight"
  [nzDropdownMenu]="menuTpl"
  [class.mr-sm]="!showLangText"
  [class.alain-default__nav-item]="showLangText"
>
  <i nz-icon nzType="global"></i>
</span>
<nz-dropdown-menu #menuTpl="nzDropdownMenu" nzNoAnimation>
  <ul
    nz-menu
    [ngStyle]="{
      width: '200px',
      left: '0px',
      top: '0px'
    }"
  >
    <li
      nz-menu-item
      *ngFor="let lang of langs"
      [nzSelected]="lang.code === currentLangCode"
      (click)="changeLang(lang.code)"
    >
      {{ lang.text }}
    </li>
  </ul>
</nz-dropdown-menu>
