<span
  nz-dropdown
  nzPlacement="bottomRight"
  [nzDropdownMenu]="menuTpl"
  [class.mr-sm]="!showLangText"
>
  <div *ngIf="showLangText">
    <i nz-icon nzType="global" class="mr-sm"></i>
    {{ 'menu.header.lang' | translate }}
  </div>
  <span *ngIf="!showLangText">
    <i nz-icon nzType="global" class="mr-sm"></i>
  </span>
</span>

<nz-dropdown-menu #menuTpl="nzDropdownMenu" nzNoAnimation>
  <ul
    nz-menu
    [ngStyle]="{
      width: '200px',
      left: showLangText ? '13px' : '0px',
      top: showLangText ? '3px' : '0px'
    }"
  >
    <li
      nz-menu-item
      *ngFor="let lang of langs"
      [nzSelected]="lang.code === curLangCode"
      (click)="changeLang(lang.code)"
    >
      {{ lang.text }}
    </li>
  </ul>
</nz-dropdown-menu>
