<button nz-button (click)="setFull()">setFull()</button>
<button nz-button (click)="set()">set()</button>

<nz-divider [nzDashed]="true"></nz-divider>

<button nz-button (click)="setRole()">setRole()</button>
<button nz-button (click)="attachRole()">attachRole()</button>
<button nz-button (click)="removeRole()">removeRole()</button>

<nz-divider [nzDashed]="true"></nz-divider>

<button nz-button (click)="setAbility()">setAbility()</button>
<button nz-button (click)="attachAbility()">attachAbility()</button>
<button nz-button (click)="removeAbility()">removeAbility()</button>

<nz-divider [nzDashed]="true"></nz-divider>

<button nz-button (click)="add()">add()</button>

<nz-divider [nzDashed]="true"></nz-divider>

<pre>{{ aclService.data | ntJson }}</pre>
