<p>
  selectors 是一些 pure functions, 用来对 state 数据进行过滤,
  <code>@ngrx/store</code> 提供了很多的 helper functions, 比如
  <code>createSelector</code> 和 <code>createFeatureSelector</code>
</p>

<nz-divider [nzDashed]="true"></nz-divider>

<nz-collapse [nzAccordion]="true">
  <nz-collapse-panel
    nzHeader="Using A Selector For One Piece Of State"
    nzExpandedIcon="caret-right"
  >
    <app-x-02-03-01-01></app-x-02-03-01-01>
  </nz-collapse-panel>

  <nz-collapse-panel
    nzHeader="Using Selectors For Multiple Pieces Of State"
    nzExpandedIcon="caret-right"
  >
    <app-x-02-03-01-02></app-x-02-03-01-02>
  </nz-collapse-panel>

  <nz-collapse-panel
    nzHeader="Using Selectors With Props"
    nzExpandedIcon="caret-right"
  >
    <app-x-02-03-01-03></app-x-02-03-01-03>
  </nz-collapse-panel>
</nz-collapse>
