<nz-collapse [nzAccordion]="true">
  <nz-collapse-panel nzHeader="First Encounter" nzExpandedIcon="caret-right">
    <app-x-01></app-x-01>
  </nz-collapse-panel>

  <nz-collapse-panel
    nzHeader="Component Views and Bindings"
    nzExpandedIcon="caret-right"
  >
    <app-x-02></app-x-02>
  </nz-collapse-panel>

  <nz-collapse-panel
    nzHeader="Checking A Component View"
    nzExpandedIcon="caret-right"
  >
    <app-x-03></app-x-03>
  </nz-collapse-panel>

  <nz-collapse-panel nzHeader="Fixing The Error" nzExpandedIcon="caret-right">
    <app-x-04></app-x-04>
  </nz-collapse-panel>

  <nz-collapse-panel
    nzHeader="Order of Operations"
    nzExpandedIcon="caret-right"
  >
    <app-x-05></app-x-05>
  </nz-collapse-panel>
</nz-collapse>
