{
  "linters": {
    "src/**/*.ts": ["npm run lint:ts"],
    "src/**/*.less": ["npm run lint:style"],
    "*.{ts,js,json,html,css,scss,less,md,yml}": ["prettier --write", "git add"]
  },
  "ignore": ["src/assets/*"]
}
