<form nz-form [formGroup]="formGroup" (ngSubmit)="login()">
  <nz-form-item>
    <nz-form-control nzErrorTip="{{ 'app.login.username.required' | i18n }}">
      <nz-input-group nzSize="large" [nzPrefix]="prefixUserName">
        <input
          nz-input
          formControlName="username"
          placeholder="{{ 'app.login.username.placeholder' | i18n }}"
        />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control nzErrorTip="{{ 'app.login.password.required' | i18n }}">
      <nz-input-group nzSize="large" [nzPrefix]="prefixPassword">
        <input
          nz-input
          type="password"
          formControlName="password"
          placeholder="{{ 'app.login.password.placeholder' | i18n }}"
        />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <button
      nz-button
      type="submit"
      nzType="primary"
      nzSize="large"
      [nzLoading]="httpClient.loading"
      nzBlock
    >
      {{ 'app.login.login' | i18n }}
    </button>
  </nz-form-item>
</form>

<ng-template #prefixUserName><i nz-icon type="user"></i></ng-template>
<ng-template #prefixPassword><i nz-icon type="lock"></i></ng-template>
