<div
  nz-dropdown
  nzPlacement="bottomRight"
  [nzDropdownMenu]="menuTpl"
  class="alain-default__nav-item d-flex align-items-center px-sm"
>
  <nz-avatar
    [nzSrc]="settings.user.avatar"
    nzSize="small"
    class="mr-sm"
  ></nz-avatar>
  {{ settings.user.name }}
</div>
<nz-dropdown-menu #menuTpl="nzDropdownMenu">
  <div nz-menu class="width-sm">
    <div nz-menu-item routerLink="/account/settings">
      <i nz-icon type="setting" class="mr-sm"></i>
      {{ 'menu.account.settings' | translate }}
    </div>
    <li nz-menu-divider></li>
    <div nz-menu-item (click)="logout()">
      <i nz-icon type="logout" class="mr-sm"></i>
      {{ 'menu.account.logout' | translate }}
    </div>
  </div>
</nz-dropdown-menu>
