<nz-collapse [nzAccordion]="true">
  <nz-collapse-panel
    nzExpandedIcon="caret-right"
    nzHeader="Component Factory And Compiler"
  >
    <app-x-01></app-x-01>
  </nz-collapse-panel>

  <nz-collapse-panel
    nzExpandedIcon="caret-right"
    nzHeader="Angular Modules And ComponentFactoryResolver"
  >
    <app-x-02></app-x-02>
  </nz-collapse-panel>

  <nz-collapse-panel
    nzExpandedIcon="caret-right"
    nzHeader="Dynamic Module Loading And Compilation"
  >
    <app-x-03></app-x-03>
  </nz-collapse-panel>

  <nz-collapse-panel
    nzExpandedIcon="caret-right"
    nzHeader="Creating Components On The Fly"
  >
    <app-x-04></app-x-04>
  </nz-collapse-panel>

  <nz-collapse-panel
    nzExpandedIcon="caret-right"
    nzHeader="Destorying Components"
  >
    <app-x-05></app-x-05>
  </nz-collapse-panel>
</nz-collapse>
