<nz-collapse [nzAccordion]="true">
  <nz-collapse-panel
    nzHeader="StoreRouterConfig.stateKey"
    nzExpandedIcon="caret-right"
  >
    <p>
      <code>StoreRouterConfig.stateKey</code> 用来配置 router-store 在 state
      中的 key 值, 默认为 <code>router</code>, 可以配置为一个 selector function
    </p>
  </nz-collapse-panel>

  <nz-collapse-panel
    nzHeader="StoreRouterConfig.serializer"
    nzExpandedIcon="caret-right"
  >
  </nz-collapse-panel>

  <nz-collapse-panel
    nzHeader="StoreRouterConfig.navigationActionTiming"
    nzExpandedIcon="caret-right"
  >
    <p>
      默认情况下, <code>ROUTER_NAVIGATION</code> 会在 guard 和 resolve 之前触发,
      可以将 <code>StoreRouterConfig.navigationActionTiming</code> 设置为
      <code>NavigationActionTiming.PostActivation</code> , 表示在 guard 和
      resolve 之后触发
    </p>
  </nz-collapse-panel>
</nz-collapse>
