<p>
  要使用 ngx-translate, 首先需要在 AppModule 中通过 TranslateModule.forRoot()
  引入 TranslateModule, 此处可以配置的选项包括:
</p>

<ul>
  <li>loader</li>
  <li>compiler</li>
  <li>parser</li>
  <li>missingTranslationHandler</li>
  <li>isolate</li>
  <li>useDefaultLang</li>
</ul>

<p>
  ngx-translate 还提供了 TranslatePipe, 如果要在 template 中使用 TranslatePipe,
  需要在 feature module 中直接引入 TranslateModule, 通常可以将它放到
  SharedModule 中, 统一引入
</p>

<p>
  ngx-translate 需要配合 loader 使用, 通常可以使用
  TranslateHttpLoader(@ngx-translate/http-loader)
</p>
