<nz-collapse [nzAccordion]="true" [ngStyle]="{ marginBottom: '10px' }">
  <nz-collapse-panel nzExpandedIcon="caret-right" nzHeader="st">
    <app-st></app-st>
  </nz-collapse-panel>
</nz-collapse>

<full-content
  [padding]="10"
  (fullscreenChange)="handleFullScreenChange($event)"
>
  <nz-collapse [nzAccordion]="true">
    <nz-collapse-panel nzExpandedIcon="caret-right" nzHeader="full-content">
      <app-full-content>
        <button nz-button [nzType]="'default'" full-toggle class="ml-sm">
          <i
            nz-icon
            [nzType]="isFullScreen ? 'fullscreen-exit' : 'fullscreen'"
            nzTheme="outline"
          ></i>
          {{ isFullScreen ? '退出全屏' : '全屏' }}
        </button>
      </app-full-content>
    </nz-collapse-panel>
  </nz-collapse>
</full-content>
