<nz-collapse [nzAccordion]="true">
  <nz-collapse-panel nzHeader="Selectors" nzExpandedIcon="caret-right">
    <app-x-02-03-01></app-x-02-03-01>
  </nz-collapse-panel>

  <nz-collapse-panel
    nzHeader="Selecting Feature State"
    nzExpandedIcon="caret-right"
  >
    <app-x-02-03-02></app-x-02-03-02>
  </nz-collapse-panel>

  <nz-collapse-panel
    nzHeader="Resetting Memoized Selectors"
    nzExpandedIcon="caret-right"
  >
    <app-x-02-03-03></app-x-02-03-03>
  </nz-collapse-panel>
</nz-collapse>
