<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>ChangeDetectorRef.detectChanges()</mat-panel-title>
    </mat-expansion-panel-header>
    <app--x-02-03-01></app--x-02-03-01>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>ApplicationRef.tick()</mat-panel-title>
    </mat-expansion-panel-header>
    <app--x-02-03-02></app--x-02-03-02>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>ChangeDetectorRef.markForCheck()</mat-panel-title>
    </mat-expansion-panel-header>
    <app--x-02-03-03></app--x-02-03-03>
  </mat-expansion-panel>
</mat-accordion>
