<nz-collapse [nzAccordion]="true">
  <nz-collapse-panel nzHeader="ROOT_EFFECTS_INIT" nzExpandedIcon="caret-right">
  </nz-collapse-panel>

  <nz-collapse-panel
    nzHeader="Non-Dispatching Effects"
    nzExpandedIcon="caret-right"
  >
    <app-x-03-02></app-x-03-02>
  </nz-collapse-panel>

  <nz-collapse-panel nzHeader="OnInitEffects" nzExpandedIcon="caret-right">
    <app-x-03-03></app-x-03-03>
  </nz-collapse-panel>

  <nz-collapse-panel nzHeader="OnRunEffects" nzExpandedIcon="caret-right">
    <app-x-03-04></app-x-03-04>
  </nz-collapse-panel>

  <nz-collapse-panel nzHeader="OnIdentifyEffects" nzExpandedIcon="caret-right">
    <app-x-03-05></app-x-03-05>
  </nz-collapse-panel>
</nz-collapse>
