<nz-collapse [nzAccordion]="true">
  <nz-collapse-panel nzExpandedIcon="caret-right" nzHeader="Basic">
    <app-st-01></app-st-01>
  </nz-collapse-panel>

  <nz-collapse-panel nzExpandedIcon="caret-right" nzHeader="Custom Data">
    <app-st-02></app-st-02>
  </nz-collapse-panel>

  <nz-collapse-panel nzExpandedIcon="caret-right" nzHeader="Column Type">
    <app-st-03></app-st-03>
  </nz-collapse-panel>

  <nz-collapse-panel nzExpandedIcon="caret-right" nzHeader="Checkbox">
    <app-st-04></app-st-04>
  </nz-collapse-panel>

  <nz-collapse-panel nzExpandedIcon="caret-right" nzHeader="Row Event">
    <app-st-05></app-st-05>
  </nz-collapse-panel>
</nz-collapse>
