// you can add global styles to this file, and also import other style files

* {
  outline: none !important;
  animation-duration: 0ms !important;
}

.no-select {
  user-select: none !important;
}

//region ng-alain

.alain-default {
  height: 100%;
  overflow: hidden;
}

.alain-default__nav {
  & > li {
    height: 50px;
    line-height: 50px;

    .alain-default__nav-item {
      height: 50px;
      line-height: 50px;
      border-radius: 0px;

      & > i {
        vertical-align: super;
        margin-top: 8px;
      }
    }
  }
}

.alain-default__content {
  margin: 0 0 0 300px;
  padding: 8px;
  height: calc(100% - 86.5px);
  overflow-y: scroll;
}

.alain-default__fixed .alain-default__content {
  margin-top: 86.5px;
}

.alain-default__content::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.alain-default__content::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.alain-default__content::-webkit-scrollbar-thumb {
  background-color: #6e6e6e;
  outline: 1px solid #333;
}

@media (max-width: 767px) {
  .alain-default__content {
    padding-top: 0px;
    margin-left: 0px;
    margin-top: 50px !important;
    height: calc(100% - 50px) !important;
  }

  .alain-default__fixed .reuse-tab {
    margin-top: 0px;
    margin-bottom: 8px;
  }
}

.ant-dropdown-menu {
  padding: 1px;
}

.ant-select-dropdown-menu {
  padding: 1px;
}

.anticon.ant-notification-notice-icon {
  margin-left: 0px;
}

.ant-notification-notice-with-icon .ant-notification-notice-message {
  margin-left: 30px;
}

.ant-notification-notice-with-icon .ant-notification-notice-description {
  margin-left: 2px;
}

.ant-notification-notice {
  padding: 10px;
}

.ant-notification-notice-close {
  right: 10px;
  top: 7px;

  &:hover {
    color: rgba(255, 0, 0, 1);
  }
}

.ant-tooltip-inner {
  padding: 4px 8px;
  min-height: auto;
  border-radius: 2px;
}

.reuse-tab {
  padding: 1px;
}

@media (min-width: 768px) {
  .alain-default__collapsed .alain-default__content {
    margin-left: 64px;
  }

  .alain-default__fixed .reuse-tab + router-outlet {
    height: 0px;
  }

  .full-content__opened {
    .alain-default__fixed .reuse-tab + router-outlet {
      height: 0px;
    }
  }
}

.ant-tabs-nav .ant-tabs-tab {
  margin: 0px 5px 0px 0px;
}

.reuse-tab__cm {
  .ant-menu {
    border-radius: 3px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    padding: 1px;
    min-width: 100px;

    .ant-menu-item {
      height: 30px;
      line-height: 30px;
      margin-top: 0px;
      margin-bottom: 0px;
      padding: 0px 10px;
      transition: none;

      &:not(.ant-menu-item-disabled):hover {
        color: rgba(0, 0, 0, 0.65);
        background-color: #e6f7ff;
      }
    }
  }
}

a,
.ant-switch,
.ant-tabs-bar,
.alain-default__aside,
.alain-default__header-logo,
.sidebar-nav__item-icon,
.sidebar-nav__sub-arrow,
.sidebar-nav__sub-arrow:before,
.sidebar-nav__sub-arrow:after,
.ant-dropdown-menu-item,
.ant-dropdown-menu-title,
.ant-select-dropdown-menu-item,
.ant-select-selection,
.ant-spin-container,
.ant-tabs-nav .ant-tabs-tab,
.ant-tabs .ant-tabs-top-content > .ant-tabs-tabpane,
.ant-tabs .ant-tabs-bottom-content > .ant-tabs-tabpane,
.ant-tabs .ant-tabs-top-content.ant-tabs-content-animated,
.ant-tabs .ant-tabs-bottom-content.ant-tabs-content-animated,
.ant-select-arrow .ant-select-arrow-icon svg,
.cdk-overlay-backdrop {
  transition: none;
}

.ant-form-vertical {
  .ant-form-item {
    padding-bottom: 0px;
  }

  .ant-form-item-label,
  .ant-col-24.ant-form-item-label,
  .ant-col-xl-24.ant-form-item-label {
    padding: 0 0 3px;
  }
}

.ant-form-item-required::before {
  margin-right: 0px;
  vertical-align: middle;
}

.ant-modal-confirm .ant-modal-body {
  padding: 16px;
}

.ant-modal-header {
  background: #fafafa;
}

.ant-modal-body {
  padding: 12px 16px;
}

.full-content {
  overflow: visible;
}

.full-content__body {
  .alain-default__content {
    router-outlet + * {
      height: calc(100% - 40px);
    }
  }
}

.full-content__opened {
  .alain-default__content {
    margin: 0 !important;
    padding: 8px !important;
    height: 100%;

    router-outlet + * {
      height: 100%;
    }
  }
}

.ant-table-small > .ant-table-content > .ant-table-body {
  margin: 0px;

  & > table > .ant-table-thead > tr > th {
    background: #fafafa;
  }
}

.ant-table-placeholder {
  border: 1px solid #e8e8e8;
  border-top: none;
}

.ant-popover-inner-content {
  padding: 8px 12px 8px;
}

.ant-tooltip-placement-top .ant-tooltip-arrow,
.ant-tooltip-placement-topLeft .ant-tooltip-arrow,
.ant-tooltip-placement-topRight .ant-tooltip-arrow {
  border-width: 5px 8px 0;
}

.ant-tooltip-placement-bottom .ant-tooltip-arrow,
.ant-tooltip-placement-bottomLeft .ant-tooltip-arrow,
.ant-tooltip-placement-bottomRight .ant-tooltip-arrow {
  border-width: 0 8px 5px;
}

.sidebar-nav__group-title {
  display: none;
}

.sidebar-nav__floating-container {
  .sidebar-nav {
    &.sidebar-nav__sub {
      background: #000c17;
    }

    .sidebar-nav__item {
      border-left: none;
    }

    .sidebar-nav__item-link:hover {
      background-color: rgba(24, 144, 255, 0.7);
    }

    .sidebar-nav__item:hover,
    .sidebar-nav__item.sidebar-nav__open {
      > .sidebar-nav__item-link {
        color: #fff;

        > i {
          color: #fff;
        }

        > .sidebar-nav__sub-arrow::before,
        > .sidebar-nav__sub-arrow::after {
          background-image: none;
        }

        > .sidebar-nav__item-text {
          color: #fff;
        }
      }

      .sidebar-nav__sub {
        background: #000c17;
      }
    }

    .sidebar-nav__item-link {
      color: rgba(255, 255, 255, 0.65);
      padding: 6.5px 12px 6px;
      font-size: 13px;
    }

    .sidebar-nav__selected {
      background-color: transparent;

      .sidebar-nav__item-link {
        color: #fff;
        background-color: #1890ff;
      }
    }
  }
}

.alain-default .page-header {
  margin-top: -8px;
  padding: 8px 8px 0 16px;

  .ant-breadcrumb {
    margin-bottom: 8px;
  }
}

//endregion

//region @delon/theme

.modal-header {
  margin: -12px -16px 12px -16px;
}

.modal-footer {
  margin: 12px -16px -12px -16px;
}

//endregion

// region angular-gridster2

gridster .gridster-column,
gridster .gridster-row {
  transition: none !important;
}

gridster-item {
  transition: none !important;
}

// endregion
