// you can add global styles to this file, and also import other style files

* {
  outline: none !important;
}

.alain-default__content {
  padding-top: 8px;
}

@media (max-width: 767px) {
  .alain-default__content {
    padding-top: 0px;
  }
}

.ant-dropdown-menu {
  padding: 1px;
}

.ant-select-dropdown-menu {
  padding: 1px;
}

.ant-notification-notice {
  padding: 16px;
}

.ant-notification-notice-close {
  right: 16px;
}

.ant-tooltip-inner {
  padding: 4px 8px;
  min-height: auto;
  border-radius: 2px;
}

.reuse-tab {
  padding: 1px;
}

@media (min-width: 768px) {
  .alain-default__fixed .reuse-tab + router-outlet {
    height: 38px;
  }
}

.ant-tabs-nav .ant-tabs-tab {
  margin: 0px 5px 0px 0px;
}

@media (max-width: 767px) {
  .alain-default__fixed .reuse-tab {
    margin-top: 0px;
    margin-bottom: 8px;
  }
}

.reuse-tab__cm {
  .ant-menu {
    border-radius: 3px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    padding: 1px;
    min-width: 100px;

    .ant-menu-item {
      height: 30px;
      line-height: 30px;
      margin-top: 0px;
      margin-bottom: 0px;
      padding: 0px 10px;
      transition: none;

      &:not(.ant-menu-item-disabled):hover {
        color: rgba(0, 0, 0, 0.65);
        background-color: #e6f7ff;
      }
    }
  }
}

.ant-switch,
.ant-tabs-bar,
.alain-default__aside,
.alain-default__header-logo,
.sidebar-nav__item-icon,
.sidebar-nav__sub-arrow,
.sidebar-nav__sub-arrow:before,
.sidebar-nav__sub-arrow:after,
.ant-spin-container,
.ant-tabs-nav .ant-tabs-tab,
.ant-tabs .ant-tabs-top-content > .ant-tabs-tabpane,
.ant-tabs .ant-tabs-bottom-content > .ant-tabs-tabpane,
.ant-tabs .ant-tabs-top-content.ant-tabs-content-animated,
.ant-tabs .ant-tabs-bottom-content.ant-tabs-content-animated,
.ant-select-arrow .ant-select-arrow-icon svg {
  transition: none;
}

.ant-form-item-required::before {
  margin-right: 0px;
  vertical-align: middle;
}

.ant-modal-confirm .ant-modal-body {
  padding: 16px;
}
