<nz-collapse [nzAccordion]="true">
  <nz-collapse-panel
    nzExpandedIcon="caret-right"
    nzHeader="The Input Reference Changes"
  >
    <p>
      当 component 的 change detection 设置为
      <code>ChangeDetectionStrategy.OnPush</code> 时, 只有在某些情况下, angular
      才会触发 change detection:
    </p>

    <ol>
      <li>
        当某个 input property 的 reference 发生变更时
      </li>
      <li>
        当该 component 或者它的 children 中触发了某个 DOM 事件时
      </li>
    </ol>

    <button nz-button (click)="handleClick01()">CLICK</button>
    <button nz-button (click)="handleClick02()">CLICK</button>
    <nz-divider [nzDashed]="true"></nz-divider>

    <app-x-02-01 [config]="config"></app-x-02-01>
  </nz-collapse-panel>

  <nz-collapse-panel
    nzExpandedIcon="caret-right"
    nzHeader="An Event Originated From The Component Or One Of Its Children"
  >
    <app-x-02-02></app-x-02-02>
  </nz-collapse-panel>
</nz-collapse>
