<nz-collapse [nzAccordion]="true">
  <nz-collapse-panel nzExpandedIcon="caret-right" nzHeader="We Run Change Detection Explicitly">
    <app--x-02-03></app--x-02-03>
  </nz-collapse-panel>

  <nz-collapse-panel nzExpandedIcon="caret-right" nzHeader="Angular Async Pipe">
    <app--x-02-04></app--x-02-04>
  </nz-collapse-panel>

  <nz-collapse-panel nzExpandedIcon="caret-right" nzHeader="OnPush and View Queries">
    <app--x-02-05>
      <app--x-02-05-01></app--x-02-05-01>
    </app--x-02-05>
  </nz-collapse-panel>
</nz-collapse>
