<nz-layout [ngStyle]="{ height: '100%' }">
  <nz-sider [ngStyle]="{ paddingTop: '64px' }" nzCollapsible nzWidth="400px">
    <ul nz-menu nzMode="inline" nzTheme="dark">
      <li nz-submenu nzIcon="user" nzTitle="User">
        <ul>
          <li nz-menu-item>Tom</li>
          <li nz-menu-item>Bill</li>
          <li nz-menu-item>Alex</li>
        </ul>
      </li>
      <li nz-submenu nzIcon="team" nzTitle="Team">
        <ul>
          <li nz-menu-item>Team 1</li>
          <li nz-menu-item>Team 2</li>
        </ul>
      </li>
      <li nz-menu-item>
        <i nz-icon nzType="file"></i>
        <span>File</span>
      </li>
    </ul>
  </nz-sider>

  <nz-layout [ngStyle]="{ height: '100%' }">
    <nz-header [ngStyle]="{ position: 'fixed', zIndex: 1, width: '100%', padding: '0 24px' }">
      <div [ngStyle]="{ color: '#ffffff', fontSize: '20px' }">@luotao/learning-angular</div>
    </nz-header>

    <nz-content
      [ngStyle]="{
        margin: '64px 0 0 0',
        padding: '12px',
        background: '#ffffff',
        height: '100%',
        overflowY: 'scroll',
        overflowX: 'auto'
      }"
    >
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>

<!--<button
  [matMenuTriggerFor]="animals"
  [ngStyle]="{
    margin: '10px'
  }"
  mat-raised-button
>
  目录

  <mat-menu #animals="matMenu">
    <button [routerLink]="'/home'" mat-menu-item>首页</button>

    <button [matMenuTriggerFor]="docTpl" mat-menu-item>DOC</button>
    <mat-menu #docTpl="matMenu">
      <button [routerLink]="'/doc/02'" mat-menu-item>SETUP</button>

      <button [matMenuTriggerFor]="fundamentalTpl" mat-menu-item>FUNDAMENTAL</button>
      <mat-menu #fundamentalTpl="matMenu">
        <button [routerLink]="'/doc/tutorial/dashboard'" mat-menu-item>Tour Of Heroes App</button>

        <button [matMenuTriggerFor]="architectureTpl" mat-menu-item>Architecture</button>
        <mat-menu #architectureTpl="matMenu">
          <button [routerLink]="'/doc/03/02/intro-into-component'" mat-menu-item>Intro to Components</button>
          <button [routerLink]="'/doc/03/02/di'" mat-menu-item>Intro to Services and DI</button>
        </mat-menu>

        <button [matMenuTriggerFor]="comoponentsTemplatesTpl" mat-menu-item>Comoponents & Templates</button>
        <mat-menu #comoponentsTemplatesTpl="matMenu">
          <button [routerLink]="'/doc/03/03/01'" mat-menu-item>Displaying Data</button>
          <button [routerLink]="'/doc/03/03/02'" mat-menu-item>Template Syntax</button>
          <button [routerLink]="'/doc/03/03/03'" mat-menu-item>User Input</button>
          <button [routerLink]="'/doc/03/03/04'" mat-menu-item>Lifecycle Hooks</button>
          <button [routerLink]="'/doc/03/03/05'" mat-menu-item>Component Interaction</button>
          <button [routerLink]="'/doc/03/03/06'" mat-menu-item>Component Styles</button>
          <button [routerLink]="'/doc/03/03/07'" mat-menu-item>Dynamic Components</button>
          <button [routerLink]="'/doc/03/03/08'" mat-menu-item>Angular Elements</button>
          <button [routerLink]="'/doc/03/03/09'" mat-menu-item>Attribute Directives</button>
          <button [routerLink]="'/doc/03/03/10'" mat-menu-item>Structural Directives</button>
          <button [routerLink]="'/doc/03/03/11'" mat-menu-item>Pipes</button>
        </mat-menu>

        <button [matMenuTriggerFor]="formTpl" mat-menu-item>Form</button>
        <mat-menu #formTpl="matMenu">
          <button [routerLink]="'/doc/03/04/01'" mat-menu-item>Introduction</button>
          <button [routerLink]="'/doc/03/04/02'" mat-menu-item>Reactive Form</button>
          <button [routerLink]="'/doc/03/04/03'" mat-menu-item>Template-Driven Form</button>
          <button [routerLink]="'/doc/03/04/04'" mat-menu-item>Form Validation</button>
          <button [routerLink]="'/doc/03/04/05'" mat-menu-item>Dynamic Forms</button>
        </mat-menu>

        <button [matMenuTriggerFor]="observablesRxJSTpl" mat-menu-item>Observables & RxJS</button>
        <mat-menu #observablesRxJSTpl="matMenu">
          <button [routerLink]="'/doc/03/05/01'" mat-menu-item>Observables</button>
          <button [routerLink]="'/doc/03/05/02'" mat-menu-item>The RxJS Library</button>
          <button [routerLink]="'/doc/03/05/03'" mat-menu-item>Observables In Angular</button>
          <button [routerLink]="'/doc/03/05/04'" mat-menu-item>Practical Usage</button>
          <button [routerLink]="'/doc/03/05/05'" mat-menu-item>Compare To Other Techniques</button>
        </mat-menu>

        <button [routerLink]="'/doc/03/06'" mat-menu-item>Bootstrapping</button>

        <button [matMenuTriggerFor]="ngModulesTpl" mat-menu-item>NgModules</button>
        <mat-menu #ngModulesTpl="matMenu">
          <button [routerLink]="'/doc/03/07/01'" mat-menu-item>NgModules Introduction</button>
          <button [routerLink]="'/doc/03/07/02'" mat-menu-item>JavaScript Modules vs. NgModules</button>
          <button [routerLink]="'/doc/03/07/03'" mat-menu-item>Frequently Used Modules</button>
          <button [routerLink]="'/doc/03/07/04'" mat-menu-item>Types of Feature Modules</button>
          <button [routerLink]="'/doc/03/07/05'" mat-menu-item>Entry Components</button>
          <button [routerLink]="'/doc/03/07/06'" mat-menu-item>Feature Modules</button>
          <button [routerLink]="'/doc/03/07/07'" mat-menu-item>Providers</button>
          <button [routerLink]="'/doc/03/07/08'" mat-menu-item>Singleton services</button>
          <button [routerLink]="'/doc/03/07/09'" mat-menu-item>Lazy Loading Feature Modules</button>
          <button [routerLink]="'/doc/03/07/10'" mat-menu-item>Sharing Modules</button>
          <button [routerLink]="'/doc/03/07/11'" mat-menu-item>NgModule API</button>
          <button [routerLink]="'/doc/03/07/12'" mat-menu-item>NgModule FAQs</button>
        </mat-menu>

        <button [matMenuTriggerFor]="dependencyInjectionTpl" mat-menu-item>Dependency Injection</button>
        <mat-menu #dependencyInjectionTpl="matMenu">
          <button [routerLink]="'/doc/03/08/01'" mat-menu-item>Dependency Injection in Angular</button>
          <button [routerLink]="'/doc/03/08/02'" mat-menu-item>Hierarchical Dependency Injectors</button>
          <button [routerLink]="'/doc/03/08/03'" mat-menu-item>Dependency Providers</button>
          <button [routerLink]="'/doc/03/08/04'" mat-menu-item>Dependency Injection in Action</button>
          <button [routerLink]="'/doc/03/08/05'" mat-menu-item>Navigate the component tree with DI</button>
        </mat-menu>

        <button [routerLink]="'/doc/03/09'" mat-menu-item>HttpClient</button>

        <button [routerLink]="'/doc/03/10'" mat-menu-item>Routing & Navigation</button>

        <button [matMenuTriggerFor]="animationsTpl" mat-menu-item>Animations</button>
        <mat-menu #animationsTpl="matMenu">
          <button [routerLink]="'/doc/03/11/01'" mat-menu-item>Introduction</button>
          <button [routerLink]="'/doc/03/11/02'" mat-menu-item>Transitions And Triggers</button>
          <button [routerLink]="'/doc/03/11/03'" mat-menu-item>Complex Sequences</button>
          <button [routerLink]="'/doc/03/11/04'" mat-menu-item>Reusable Animations</button>
          <button [routerLink]="'/doc/03/11/05'" mat-menu-item>Route Transition Animations</button>
        </mat-menu>
      </mat-menu>

      <button [matMenuTriggerFor]="techniquesTpl" mat-menu-item>TECHNIQUES</button>
      <mat-menu #techniquesTpl="matMenu">
        <button [routerLink]="'/doc/04/02'" mat-menu-item>i18n</button>

        <button [matMenuTriggerFor]="angularLibrariesTpl" mat-menu-item>Angular Libraries</button>
        <mat-menu #angularLibrariesTpl="matMenu">
          <button [routerLink]="'/doc/04/06/03'" mat-menu-item>Creating Libraries</button>
        </mat-menu>

        <button [matMenuTriggerFor]="schematicsTpl" mat-menu-item>Schematics</button>
        <mat-menu #schematicsTpl="matMenu">
          <button [routerLink]="'/doc/04/07/01'" mat-menu-item>Schematics Overview</button>
          <button [routerLink]="'/doc/04/07/02'" mat-menu-item>Authoring Schematics</button>
          <button [routerLink]="'/doc/04/07/03'" mat-menu-item>Schematics for Libraries</button>
        </mat-menu>
      </mat-menu>

      <button [matMenuTriggerFor]="devWorkflowTpl" mat-menu-item>DEV WORKFLOW</button>
      <mat-menu #devWorkflowTpl="matMenu">
        <button [routerLink]="'/doc/05/04'" mat-menu-item>Testing</button>
      </mat-menu>

      <button [matMenuTriggerFor]="configurationTpl" mat-menu-item>CONFIGURATION</button>
      <mat-menu #configurationTpl="matMenu">
        <button [routerLink]="'/doc/06/02'" mat-menu-item>Workspace Configuration</button>
      </mat-menu>

      <button [matMenuTriggerFor]="cliTpl" mat-menu-item>CLI</button>
      <mat-menu #cliTpl="matMenu">
        <button [routerLink]="'/doc/08/01'" mat-menu-item>Overview</button>
        <button [routerLink]="'/doc/08/02'" mat-menu-item>ng add</button>
        <button [routerLink]="'/doc/08/03'" mat-menu-item>ng build</button>
        <button [routerLink]="'/doc/08/04'" mat-menu-item>ng config</button>
        <button [routerLink]="'/doc/08/05'" mat-menu-item>ng doc</button>
        <button [routerLink]="'/doc/08/06'" mat-menu-item>ng e2e</button>
        <button [routerLink]="'/doc/08/07'" mat-menu-item>ng generate</button>
        <button [routerLink]="'/doc/08/08'" mat-menu-item>ng help</button>
        <button [routerLink]="'/doc/08/09'" mat-menu-item>ng lint</button>
        <button [routerLink]="'/doc/08/10'" mat-menu-item>ng new</button>
        <button [routerLink]="'/doc/08/11'" mat-menu-item>ng run</button>
        <button [routerLink]="'/doc/08/12'" mat-menu-item>ng serve</button>
        <button [routerLink]="'/doc/08/13'" mat-menu-item>ng test</button>
        <button [routerLink]="'/doc/08/14'" mat-menu-item>ng update</button>
        <button [routerLink]="'/doc/08/15'" mat-menu-item>ng version</button>
        <button [routerLink]="'/doc/08/16'" mat-menu-item>ng xi18n</button>
      </mat-menu>

      <button [matMenuTriggerFor]="apiTpl" mat-menu-item>API</button>
      <mat-menu #apiTpl="matMenu">
        <button [matMenuTriggerFor]="angularCoreTpl" mat-menu-item>@angular/core</button>
        <mat-menu #angularCoreTpl="matMenu">
          <button [routerLink]="'/doc/09/01/01'" mat-menu-item>Entry Points</button>
          <button [routerLink]="'/doc/09/01/02'" mat-menu-item>Primary Entry Point Exports</button>
        </mat-menu>

        <button [matMenuTriggerFor]="angularCommonTpl" mat-menu-item>@angular/common</button>
        <mat-menu #angularCommonTpl="matMenu">
          <button [routerLink]="'/doc/09/02/02'" mat-menu-item>Primary Entry Point Exports</button>
        </mat-menu>
      </mat-menu>
    </mat-menu>

    <button [matMenuTriggerFor]="packageTpl" mat-menu-item>PACKAGE</button>
    <mat-menu #packageTpl="matMenu">
      <button [matMenuTriggerFor]="jasmineTpl" mat-menu-item>jasmine</button>
      <mat-menu #jasmineTpl="matMenu">
        <button [routerLink]="'/pkgs/jasmine/global'" mat-menu-item>global</button>
        <button [routerLink]="'/pkgs/jasmine/namespace'" mat-menu-item>namespace</button>
      </mat-menu>

      <button [routerLink]="'/pkgs/ngx-translate'" mat-menu-item>ngx-translate</button>

      <button [matMenuTriggerFor]="ngrxTpl" mat-menu-item>ngrx</button>
      <mat-menu #ngrxTpl="matMenu">
        <button [matMenuTriggerFor]="storeTpl" mat-menu-item>STORE</button>
        <mat-menu #storeTpl="matMenu">
          <button [routerLink]="'/pkgs/ngrx/store/01'" mat-menu-item>Getting Started</button>
          <button [routerLink]="'/pkgs/ngrx/store/02'" mat-menu-item>Architecture</button>
          <button [routerLink]="'/pkgs/ngrx/store/03'" mat-menu-item>Advanced</button>
          <button [routerLink]="'/pkgs/ngrx/store/04'" mat-menu-item>Recipes</button>
          <button [routerLink]="'/pkgs/ngrx/store/05'" mat-menu-item>Testing</button>
        </mat-menu>

        <button [matMenuTriggerFor]="effectsTpl" mat-menu-item>EFFECTS</button>
        <mat-menu #effectsTpl="matMenu">
          <button [routerLink]="'/pkgs/ngrx/effects/01'" mat-menu-item>Overview</button>
          <button [routerLink]="'/pkgs/ngrx/effects/02'" mat-menu-item>Testing</button>
          <button [routerLink]="'/pkgs/ngrx/effects/03'" mat-menu-item>Lifecycle</button>
        </mat-menu>

        <button [matMenuTriggerFor]="lifecycleTpl" mat-menu-item>Lifecycle</button>
        <mat-menu #lifecycleTpl="matMenu">
          <button [routerLink]="'/pkgs/ngrx/router-store/01'" mat-menu-item>Actions</button>
          <button [routerLink]="'/pkgs/ngrx/router-store/02'" mat-menu-item>Configuration</button>
        </mat-menu>

        <button [matMenuTriggerFor]="entityTpl" mat-menu-item>ENTITY</button>
        <mat-menu #entityTpl="matMenu">
          <button [routerLink]="'/pkgs/ngrx/entity/01'" mat-menu-item>Entity Interfaces</button>
          <button [routerLink]="'/pkgs/ngrx/entity/02'" mat-menu-item>Entity Adapter</button>
        </mat-menu>

        <button [matMenuTriggerFor]="schematicsTpl" mat-menu-item>SCHEMATICS</button>
        <mat-menu #schematicsTpl="matMenu">
          <button [routerLink]="'/pkgs/ngrx/schematics/01'" mat-menu-item>Schematics</button>
        </mat-menu>
      </mat-menu>
    </mat-menu>

    <button [matMenuTriggerFor]="blogTpl" mat-menu-item>BLOG</button>
    <mat-menu #blogTpl="matMenu">
      <button [routerLink]="'/blog/a-comprehensive-guide-to-angular-onpush'" mat-menu-item>
        A Comprehensive Guide to Angular onPush Change Detection Strategy
      </button>
      <button [routerLink]="'/blog/never-again-be-confused-when-implementing-controlvalueaccessor'" mat-menu-item>
        Never Again Be Confused When Implementing Control Value Accessor In Angular Forms
      </button>
      <button [routerLink]="'/blog/a-gentle-introduction-into-change-detection-in-angular'" mat-menu-item>
        A Gentle Introduction Into Change Detection In Angular
      </button>
      <button
        [routerLink]="'/blog/working-with-dom-in-angular-unexpected-consequences-and-optimization-techniques'"
        mat-menu-item
      >
        Working With DOM In Angular: Unexpected Consequences And Optimization Techniques
      </button>
      <button [routerLink]="'/blog/here-is-what-you-need-to-know-about-dynamic-components-in-angular'" mat-menu-item>
        Here Is What You Need To Know About Dynamic Components In Angular
      </button>
      <button
        [routerLink]="'/blog/do-you-still-think-that-ngzone-is-required-for-change-detection-in-angular'"
        mat-menu-item
      >
        Do You Still Think That NgZone Is Required For Change Detection In Angular
      </button>
      <button [routerLink]="'/blog/everything-you-need-to-know-about-change-detection'" mat-menu-item>
        Everything You Need To Know About Change Detection In Angular
      </button>
      <button
        [routerLink]="'/blog/boosting-performance-of-angular-applications-with-manual-change-detection'"
        mat-menu-item
      >
        Boosting Performance Of Angular Applications With Manual Change Detection
      </button>
      <button [routerLink]="'/blog/if-you-think-ngdocheck-means-your-component-is-being-checked'" mat-menu-item>
        If You Think Ng Do Check Means Your Component Is Being Checked
      </button>
    </mat-menu>
  </mat-menu>
</button>-->
