<button
  mat-raised-button
  [matMenuTriggerFor]="animals"
  [ngStyle]="{
    margin: '10px'
  }"
>
  目录

  <mat-menu #animals="matMenu">
    <button mat-menu-item [routerLink]="'/home'">首页</button>

    <button mat-menu-item [routerLink]="'/doc/02'">SETUP</button>

    <button mat-menu-item [matMenuTriggerFor]="vertebrates">
      <a [routerLink]="'/home'">首页</a>
    </button>
    <mat-menu #vertebrates="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="fish">Fishes</button>
      <mat-menu #fish="matMenu">
        <button mat-menu-item>Baikal oilfish</button>
        <button mat-menu-item>Bala shark</button>
        <button mat-menu-item>Ballan wrasse</button>
        <button mat-menu-item>Bamboo shark</button>
        <button mat-menu-item>Banded killifish</button>
      </mat-menu>

      <button mat-menu-item>Birds</button>
      <button mat-menu-item>Mammals</button>
    </mat-menu>
  </mat-menu>
</button>

<router-outlet></router-outlet>
