<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Default Change Detection Strategy</mat-panel-title>
    </mat-expansion-panel-header>
    <app--x-01></app--x-01>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>The Input Reference Changes</mat-panel-title>
    </mat-expansion-panel-header>
    <app--x-02-01></app--x-02-01>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>An Event Originated From The Component Or One Of Its Children</mat-panel-title>
    </mat-expansion-panel-header>
    <app--x-02-02></app--x-02-02>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>We Run Change Detection Explicitly</mat-panel-title>
    </mat-expansion-panel-header>
    <app--x-02-03></app--x-02-03>
  </mat-expansion-panel>
</mat-accordion>
