<p>
  当 angular 执行 change detection cycle 时, 会对所有的 bindings 进行检查,
  会运行每一个 binding 的 expression, 然后将结果跟原来的值进行比较, 如果不同,
  就更新绑定的属性的值
</p>

<p>
  但是每次 change detection cycle 执行完了之后, angular 会再进行一次检查,
  这次检查是同步进行的(synchronously), 相当于 angular 再次执行了一次 change
  detection cycle, 但是第二次执行跟第一次执行的不同之处在于,
  第一次执行时如果遇到结果不同, 就会更新属性的值, 而第二次如果遇到结果不同,
  就会抛出 <code>ExpressionChangedAfterItHasBeenCheckedError</code> 错误
</p>

<p>
  为什么要进行这个第二次的检查呢? 因为在执行 change detection cycle 的过程中,
  可能某些 bindings 又发生了变化, 从而又会触发一次 change detection cycle,
  这样周而复始的话, angular 就会陷入一个无限循环之中
</p>

<p>
  因此, angular 需要对开发者进行强制约束, 即在一次 change detection cycle
  的过程中, 不允许再次修改某个 binging, 这就是为什么要进行第二次检查,
  也就是说如果第二次检查发现你又修改了某个 binding 的值, 就会抛出错误,
  告诉你不可以这样做
</p>
