<nz-collapse [nzAccordion]="true">
  <nz-collapse-panel
    nzHeader="createEntityAdapter()"
    nzExpandedIcon="caret-right"
  >
    <button nz-button (click)="loadUsers()">LOAD</button>
    <button nz-button (click)="clearUsers()">CLEAR</button>

    <nz-divider [nzDashed]="true"></nz-divider>

    <ng-template #nzSpinTpl>
      <i nz-icon type="loading" style="font-size: 24px;"></i>
    </ng-template>
    <nz-table
      #userTable
      [nzData]="users$ | async"
      [nzBordered]="true"
      nzSize="middle"
      [nzShowPagination]="false"
      [nzLoading]="userTableLoading"
      [nzLoadingIndicator]="nzSpinTpl"
    >
      <thead>
        <tr>
          <th>ID</th>
          <th>NAME</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of userTable.data">
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
        </tr>
      </tbody>
    </nz-table>
  </nz-collapse-panel>
</nz-collapse>
