<nz-card>
  <form nz-form>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24">
        <code>gridType</code>
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-select
          style="width: 300px;"
          [ngModel]="options.displayGrid"
          (ngModelChange)="handleDisplayGridChange($event)"
          [ngModelOptions]="{ standalone: true }"
        >
          <nz-option nzValue="always" nzLabel="always"></nz-option>
          <nz-option
            nzValue="onDrag&Resize"
            nzLabel="onDrag&Resize"
          ></nz-option>
          <nz-option nzValue="none" nzLabel="none"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-card>

<nz-divider [nzDashed]="true"></nz-divider>

<gridster [options]="options">
  <gridster-item [item]="item" *ngFor="let item of items"></gridster-item>
</gridster>
