<p>
  造成 <code>ExpressionChangedAfterItHasBeenCheckedError</code> 的根本原因是:
  在一个 change detection cycle 中多次修改了某个 binding 的值
</p>

<p>
  造成这个结果的原因有两种可能:
</p>
<ul>
  <li>在自己组件中修改某个 binding 的值</li>
  <li>在下级组件中修改某个上级组件的 binding 的值</li>
</ul>

<p>
  因为在执行上级组件的 change detection cycle 的过程中,
  会执行下级组件的某些声明周期方法, 因此在这些声明周期方法中, 不能对上级组件的
  binding 进行修改
</p>

<p>
  这些声明周期方法包括: <code>ngAfterViewInit</code>,
  <code>ngAfterViewChecked</code>
</p>

<nz-divider [nzDashed]="true"></nz-divider>

<p [textContent]="text"></p>
<app-x-05-01></app-x-05-01>
