// region: PLACEHOLDER, IMPORTANT: don't remove
@import '~@delon/theme/styles/index';
@import '~@delon/abc/index';
@import '~@delon/chart/index';
@import '~@delon/theme/styles/layout/default/index';
@import '~@delon/theme/styles/layout/fullscreen/index';

@import './styles/index';
@import './styles/theme';
// endregion

* {
  outline: none !important;
  font-family: '宋体', Monaco, sans-serif;
  letter-spacing: 0.3px;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: '宋体', 'SimSun', sans-serif;
}

.mat-raised-button {
  border-radius: 3px !important;
}
