* {
  outline: none !important;
  font-family: '宋体', Monaco, sans-serif;
  letter-spacing: 0.3px;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: '宋体', 'SimSun', sans-serif;
}

.mat-raised-button {
  border-radius: 3px !important;
}

.mat-menu-panel {
  max-width: 800px !important;
}
