<div class="alain-default__header-logo">
  <a [routerLink]="['/']" class="alain-default__header-logo-link">
    <img
      class="alain-default__header-logo-expanded"
      src="./assets/logo-full.svg"
      alt="{{ settingsService.app.name }}"
      style="max-height:40px;"
    />
    <img
      class="alain-default__header-logo-collapsed"
      src="./assets/logo.svg"
      alt="{{ settingsService.app.name }}"
      style="max-height:30px;"
    />
  </a>
</div>

<div class="alain-default__nav-wrap">
  <ul class="alain-default__nav">
    <!-- Menu -->
    <li>
      <div class="alain-default__nav-item" (click)="toggleCollapsedSidebar()">
        <i nz-icon type="menu-{{ settingsService.layout.collapsed ? 'unfold' : 'fold' }}"></i>
      </div>
    </li>
  </ul>

  <ul class="alain-default__nav">
    <li class="hidden-mobile"><header-setting></header-setting></li>
    <li><header-user></header-user></li>
    <li><header-i18n></header-i18n></li>
  </ul>
</div>
