<fieldset>
  <legend>Default Change Detection Strategy</legend>
  <app--x-01></app--x-01>
</fieldset>

<fieldset>
  <legend>The Input Reference Changes</legend>
  <app--x-02-01></app--x-02-01>
</fieldset>

<fieldset>
  <legend>An Event Originated From The Component Or One Of Its Children</legend>
  <app--x-02-02></app--x-02-02>
</fieldset>

<fieldset>
  <legend>We Run Change Detection Explicitly</legend>
  <app--x-02-03></app--x-02-03>
</fieldset>

<fieldset>
  <legend>Angular Async Pipe</legend>
  <app--x-02-04></app--x-02-04>
</fieldset>

<fieldset>
  <legend>OnPush and View Queries</legend>
  <app--x-02-05>
    <app--x-02-05-01></app--x-02-05-01>
    <app--x-02-05-02></app--x-02-05-02>
  </app--x-02-05>
</fieldset>
