<nz-collapse [nzAccordion]="true">
  <nz-collapse-panel nzHeader="TranslateModule" nzExpandedIcon="caret-right">
    <app-ngx-translate-01></app-ngx-translate-01>
  </nz-collapse-panel>

  <nz-collapse-panel nzHeader="TranslatePipe" nzExpandedIcon="caret-right">
    <app-ngx-translate-02></app-ngx-translate-02>
  </nz-collapse-panel>

  <nz-collapse-panel nzHeader="TranslateDirective" nzExpandedIcon="caret-right">
    <app-ngx-translate-03></app-ngx-translate-03>
  </nz-collapse-panel>

  <nz-collapse-panel nzHeader="TranslateService" nzExpandedIcon="caret-right">
    <app-ngx-translate-04></app-ngx-translate-04>
  </nz-collapse-panel>

  <nz-collapse-panel
    nzHeader="MissingTranslationHandler"
    nzExpandedIcon="caret-right"
  >
    <app-ngx-translate-05></app-ngx-translate-05>
  </nz-collapse-panel>
</nz-collapse>
